{% extends 'base.html.twig' %}

{% block title %}Container Loader{% endblock %}

{% block body %}

   <div class="container">
      <h2></h2>

       <div class="panel panel-primary">
           <div class="panel-heading">
               <h3 class="panel-title">Container Loader</h3>
           </div>
           <div class="panel-body" style="padding-bottom: 0px;">

      <div class="row" style="">

         <form method="post">
            <div class="row" style="padding: 0px 20px 5px 20px;">
               <div class="col-md-2 col-sm-12">
                  <div class="form-group">
                     <label for="exampleSelect2">Select Container Size</label>
                     <select name="container" class="form-control" id="exampleSelect2">
                        <option value="20">20 ft</option>
                        <option value="40">40 ft</option>

                     </select>
                  </div>
               </div>

                <div class="col-md-2 col-sm-12">
                    <div class="form-group">
                        <label for="exampleSelect2">Container Weight</label>
                        <select name="containerWeight" class="form-control" id="exampleSelect6">
                            <option value="17.5">17.5 MT</option>
                            <option value="18">18 MT</option>
                            <option value="20">20 MT</option>
                            <option value="24">24 MT</option>

                        </select>
                    </div>
                </div>
            </div>


            <div id="forms" style="padding: 20px">
                <label style="text-align: left" for="order">Add the order</label>
                <div class="form-group">
                    <div class="row" >
                        <div class="col-md-3 col-sm-6">
                            <select  class="form-control input-sm tyreItem " name="items[]">
                                {% for item in items %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <input class="form-control input-sm" placeholder="quantity" required type="number" name="quantity[]">
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <input class="form-control input-sm" placeholder="Pallet count"  type="number" name="palletQuanity[]">
                        </div>
                        {#<div class="col-md-2 col-sm-6">#}
                            {#<select  class="form-control input-sm palletItem " name="pallet[]">#}
                                {% for item in items %}
                                    {#<option value="1200">1200 x 800 </option>#}
                                    {#<option value="1000">1000 x 800</option>#}
                                    {#<option value="1016">40 x 40</option>#}
                                    {#<option value="812.8">32 x 32</option>#}
                                {% endfor %}
                            {#</select>#}
                        {#</div>#}

                        <div class="col-md-2 col-sm-6">
                            <select  class="form-control input-sm country " name="country[]">
                                {#{% for item in items %}#}
                                    <option value="std">Standard</option>
                                    <option value="itl">Italy</option>
                                    <option value="usa">USA</option>
                                {#{% endfor %}#}
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <select class="form-control input-sm valueType" name="palletValue[]">
                                <option value="1">Lower</option>
                                <option value="0">Upper</option>
                            </select>
                        </div>

                   </div>
                </div>

               </div>
            <div class="panel-footer">
            <div class="row" style="margin-top: 15px">
                <div class="col-md-2 pull-left">
                    <a class="btn btn-info" id="button">Add Item</a>
                </div>
                <div class="col-md-2 pull-right" >
                    <button class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Submit Order</button>
                    {#<button type="button" class="btn btn-labeled btn-success">#}
                        {#<span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Success</button>#}
                </div>
            </div>
            </div>
         </form>


      </div>
           </div>

   </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
   <script>
       $('#button').click(function () {
           var htmlItem='<div class="form-group"><div class="row"> <div class="col-md-3 col-sm-6"> <select  class="form-control input-sm tyreItem " name="items[]">';
           {% for item in items %}
            htmlItem +='<option value="'+'{{ item.name }}'+'">'+'{{ item.name }}'+'</option>';
                   {% endfor %}
           htmlItem+='</select></div>';

           var htmlQuantity = '<div class="col-md-2 col-sm-6"> <input class="form-control input-sm" placeholder="quantity" required type="number" name="quantity[]"></div><div class="col-md-2 col-sm-6"><input class="form-control input-sm" value="0" placeholder="Pallet count"  type="number" name="palletQuanity[]"></div>';

           var htmlPallet = '<div class="col-md-2 col-sm-6"> <select  class="form-control input-sm palletItem " name="pallet[]"> <option value="1200">1200 x 800 </option> <option value="1000">1000 x 800</option> <option value="1016">40 x 40</option> <option value="812.8">32 x 32</option> </select></div>';
           var htmlCountry = '<div class="col-md-2 col-sm-6"> <select  class="form-control input-sm country " name="country[]"> <option value="std">Standard</option> <option value="itl">Italy</option> <option value="usa">USA</option> </select> </div>';

           var htmlPalletValue = '<div class="col-md-2 col-sm-6"> <select class="form-control input-sm valueType" name="palletValue[]"> <option value="1">Lower</option> <option value="0">Upper</option> </select> </div>';

           var form = (htmlItem+htmlQuantity+htmlCountry+htmlPalletValue+'</div></div>');
           $('#forms').append(form);

//       $("select.tyreItem").select2("destroy").select2();
           $("select.tyreItem:last").select2();

       })
   </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $(".tyreItem").select2();
        });

    </script>



{% endblock %}
