{% extends 'base.html.twig' %}

{% block title %}Container Loader{% endblock %}

{% block body %}

   <div class="container">
      <h2>Container Loader</h2>

      <div class="row">
         <form method="post">
            <div class="row">
               <div class="col-md-2 col-sm-12">
                  <div class="form-group">
                     <label for="exampleSelect2">Select Container Size</label>
                     <select class="form-control" id="exampleSelect2">
                        <option value="20">20 ft</option>
                        <option value="40">40 ft</option>

                     </select>
                  </div>
               </div>
            </div>

            <label style="text-align: left" for="order">Add the order</label>
            <div id="forms">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <select  class="form-control tyreItem " name="items[]">
                                {% for item in items %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" type="number" name="quantity[]">
                        </div>

                   </div>
                </div>

               </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-md-6">
                    <a class="btn btn-info" id="button">Add Item</a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success">Submit Order</button>
                </div>
            </div>
         </form>


      </div>

   </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
   <script>
       $('#button').click(function () {
           var htmlItem='<div class="form-group"><div class="row"> <div class="col-md-6 col-sm-6"> <select  class="form-control tyreItem " name="items[]">';
           {% for item in items %}
            htmlItem +='<option value="'+'{{ item.name }}'+'">'+'{{ item.name }}'+'</option>';
                   {% endfor %}
           htmlItem+='</select></div>';

           var htmlQuantity = '<div class="col-md-6 col-sm-6"> <input class="form-control" type="number" name="quantity[]"></div></div></div>';
           var form = (htmlItem+htmlQuantity)
           $('#forms').append(form);

           $("select.tyreItem").select2("destroy").select2();
           $("select.tyreItem").select2();

       })
   </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $(".tyreItem").select2();
        });

    </script>



{% endblock %}
